
{% extends "home/base.html" %}
{% block title %} Calendar {% endblock %}
{% load static %}
{% block head %} 
<link rel="stylesheet" href="{% static 'cal/style.css' %}">

{% endblock %}


{% block content %}


{{ calendar }}

{% endblock %}


{% block footer %}

    <script src="{% static 'home/javascript/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'home/javascript/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'home/javascript/main.js' %}"></script>
</body>

</html>

{% endblock %}