<!DOCTYPE html>

<html lang="en">
    {% load static %}
<head>
    <link rel='stylesheet' type="text/css" media="screen" href="{% static 'css/aboutus.css' %}">
    <link rel='stylesheet' type="image/jpg" media="screen" href="{% static 'images/' %}">
    <!-- <link rel="shortcut icon" href=""> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="theme-color" content="#563d7c">
    <!--icon library-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    
    <!-- <link rel="stylesheet" href="aboutus.css"> -->
</head>
<body>
  <style>
     #id1{
       /* background-color: #98d4d4; */
       
     }
     #id3{
      background-color: #92cece;
     }
     #id4{
      background-color: #819999;
     }
     #id5{
      background-color: #84a8a8;
     }
     #id6{
      background-color: #a7cece;
     }
     #id7{
      background-color: #d0e5e5;
     }
     body{
      background-color: #e7efef;
     }
     
  </style>
    <main role="main">
        <!--First Section-->
         
          <div id="home" class="jumbotron">
            <div class="container">
              <h1 id="ha" class="display-3">About Us</h1>
              <p >this site is the first step to students who want to learn with great professors ,<br>it specifies the courses which students can take it to be certified and qualified for jop,
                 <br> this site facilitate the connection ,and share success stories with students
              </p>
             
            </div>
          </div>
    
          <div class="container">
    
    
        <!--Second Section-->
          
    
            <div class="row row-cols-1 row-cols-md-2">
              <div class="col mb-4" >
                <div class="card">
                   
                  <img src="{% static 'images/m1.jpg' %}" class="card-img-top" alt="..."/>
                  <div class="card-body" id="id1">
                    <h4 class="card-title">Who We Are</h4>
                    <p class="card-text">we are 4 students in ITI (Ahmed, Mohamed ,Hamed,Aya),<br>We all do not have the same scientific background <br>
                        Aya:grduated from:Computers and information  <br>
                    Mohamed:Petroleum Engineering<br>
                    Ahmed:commerce<br>
                    Hamed:Computers and information<br>
                    but we all studied in ITI track:Full Stack Python
                 </p>
                  </div>
                </div>
              </div>
              <div class="col mb-4">
                <div class="card">
                  <img src="/static/images/m2.jpg" class="card-img-top" alt="...">
                  <div class="card-body" id="id1">
                    <h4 class="card-title">What We Do</h4>
                    <p class="card-text"> this is our graduation project from ITI.<br>There are many variations of passages of this project will be available but in short time ago .<br>
                        It will be announced this month Stay tuned .</p>
                  </div>
                </div>
              </div>
             <!-- /container -->
    
      </main>
    
    
        <!--Third Section-->
        
        <div class="container">
         
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body" id="id1">
                  <!-- <h3 class="card-title">OUR VALUABLE</h3> -->
                  <h2 class="card-title">Next step</h2>
    
                  <p class="card-text">this is the first step of this site we will add new fantastic fetures , <br>
                    chat between Students and Experts in various fields Available 24 hours,<br>
                    chat between Students them selves<br>
                    Show success experiences for students in all fields and provide free courses that prepare you for the job market,<br>
                    Special offer for students of this site with discounts up to free on international platforms such as udemy.
    
                  </p>
                  <!-- <a href="#home" class="btn btn-primary">About Us</a> -->
                </div>
              </div>
            </div>
    
            <!--icons-->
            <div class="col-sm-6">
              <div class="card"  id="id7"><h2>Course areas offered by the site</h2>
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="card">
                        <div class="card-body" id="id3">
                          
                          <h2 class="card-title i" >IT</h2>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="card">
                        <div class="card-body" id="id4">
                          <h2 class="card-title" >Engineering </h2>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="card">
                        <div class="card-body" id="id5">
                          <h2 class="card-title" >business</h2>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="card">
                        <div class="card-body" id="id6">
                          <h2 class="card-title">Soft Skills</h2>
                        </div>
                      </div>
                    </div>
                  </div>
    
                </div>
              </div>
            </div>
          </div>
          
    
        </div>
    
    
    
    
    
    
    
       
              </div>
            </div>
    
          </DIV>
    
    
    
    
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
   
  

</body>
</html>
