{% extends "home/base.html" %}
{% block title %} About {% endblock %}
{% load static %}


{%block head %}
<link rel='stylesheet' href="{% static 'blog/css/aboutus.css' %}">
{% endblock %}


{% block content %}


<main role="main">
  <!--First Section-->
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div id="home" class="jumbotron">
    <div class="container">
      <h1 id="ha" class="display-3">About Us</h1>
      <p>There are many variations of passages of Lorem Ipsum available but
        the majority have that an suffered alteration in some form by injected humour or randomised words
        which don't look at even slightly believable dummy text</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Home &raquo;</a></p>
    </div>
  </div>

  <div class="container">


    <!--Second Section-->


    <div class="row row-cols-1 row-cols-md-2">
      <div class="col mb-4">
        <div class="card">
          <!-- /static/images/m1.jpg -->
          <img src="{% static 'blog/images/m1.jpg' %}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h4 class="card-title">Who We Are</h4>
            <p class="card-text">we are 4 students in ITI (Ahmed, Mohamed ,Hamed,Aya),<br>We all do not have the same
              scientific background <br>
              Aya:grduated from:Computers and information <br>
              Mohamed:Petroleum Engineering<br>
              Ahmed:commerce<br>
              Hamed:Computers and information<br>
              but we all studied in ITI track:Full Stack Python
            </p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <img src="{% static 'blog/images/m2.jpg' %}" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title">What We Do</h4>
            <p class="card-text"> this is our graduation project from ITI.<br>There are many variations of passages of
              this project will be available but in short time ago .<br>
              It will be announced this month Stay tuned .</p>
          </div>
        </div>
      </div>
      <!-- /container -->

</main>


<!--Third Section-->

<div class="container">

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">OUR VALUABLE</h3>
          <h2 class="card-title">Success Stories</h2>

          <p class="card-text">There are many variations of passages of Lorem Ipsum available but
            the majority have suffered alteration in some form by injected humour or randomised
            words at which don't look even slightly believable. If you are going to use a passage
            of Lorem Ipsum you need to be sure there isn't anything embarrassing hidden in the middle
            of dummy here now text.There are many variations of passages of Lorem Ipsum the available
            but the majority have suffered alteration in some form by injected humour or randomised words
            which don't look even slightly believable.

          </p>
          <a href="#home" class="btn btn-primary">About Us</a>
        </div>
      </div>
    </div>

    <!--icons-->
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">

                  <h2 class="card-title">Trending Courses</h2>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title">Best Teachers</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title">Expand Knowledge</h2>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title">Excellence Awards</h2>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


</div>







<!--Login Form -->
<!-- <div class="container" >
          <div id="login" >
              <div id="loginform">
                <form class="form-signin">
                  <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
                  <label for="inputEmail" class="sr-only">Email address</label>
                  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                  <label for="inputPassword" class="sr-only">Password</label>
                  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                  <div class="checkbox mb-3">
                    <label>
                      <input type="checkbox" value="remember-me"> Remember me
                    </label>
                  </div>
                  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </form>
              </div>
    
          </div>
        </div>
     -->
<!-- <DIV id="eventcomming" class="container">
         
          
          <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Our
              Upcoming Events</h1>
            <p class="lead">There are many variations of passages of Lorem Ipsum 
              available but the majority have suffered alteration in some
               form by randomised words which don't look even slightly believable.</p>
          </div> -->

<!-- <div class="container">
            <div class="card-deck mb-3 text-center">
              <div class="card mb-4 shadow-sm">
                <div class="card-header"> -->
<!--first card-->
<!-- <h5 class="my-0 font-weight-normal">Elegant Light Box Paper Cut Dioramas</h5>
                </div>
                <div class="card-body">
                  <h5 class="card-title pricing-card-title">October 23, 2018
                    <small class="text-muted">8:00am - 5:00pm </small></h5>
                    <p class="card-text">
                      There are many variations of passages of Lorem Ipsum available 
                      but the majority have suffered an alteration in some form by injected humour 
                      that a randomised words which don't look even slightly believable.
                       If you are going to use a passage of Lorem Ipsum you need.
                    </p>
                </div>
                <div class="card-footer">
                  <h4 class="my-0 font-weight-normal">NewYork Tower, Melbourne</h4>
                </div>
              </div> -->
<!--second card-->
<!-- <div class="card mb-4 shadow-sm">
                <div class="card-header">
                  <h5 class="my-0 font-weight-normal">Elegant Light Box Paper Cut Dioramas</h5>
                </div>
                <div class="card-body">
                  <h5 class="card-title pricing-card-title">October 23, 2018
                    <small class="text-muted">8:00am - 5:00pm </small></h5>    
                    <p class="card-text">
                      There are many variations of passages of Lorem Ipsum available 
                      but the majority have suffered an alteration in some form by injected humour 
                      that a randomised words which don't look even slightly believable.
                       If you are going to use a passage of Lorem Ipsum you need.
                    </p>
                </div>
                <div class="card-footer">
                  <h4 class="my-0 font-weight-normal">NewYork Tower, Melbourne</h4>
                </div>
              </div> -->
<!--third card-->
<!-- <div class="card mb-4 shadow-sm">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">Elegant Light Box Paper Cut Dioramas</h4>
                </div>
                <div class="card-body">
                  <h5 class="card-title pricing-card-title">October 23, 2018
                    <small class="text-muted">8:00am - 5:00pm </small></h5>
                    <p class="card-text">
                      There are many variations of passages of Lorem Ipsum available 
                      but the majority have suffered an alteration in some form by injected humour 
                      that a randomised words which don't look even slightly believable.
                       If you are going to use a passage of Lorem Ipsum you need.
                    </p>
                </div> -->
<div class="card-footer">
  <h4 class="my-0 font-weight-normal">NewYork Tower, Melbourne</h4>
</div>
</div>
</div>

</div>

{% endblock %}