{% extends "home/base.html" %}
{% block title %} Home {% endblock %}
{% load static %}
{% block content %}
<h1>Courses</h1>
    {% for course in mycourses %}
    <div><a href="{% url 'details' course.id %}">{{course.course_name}}</a>
    <p>lorem lorem llorem lorem </p>
    </div>
    {% endfor %}

<h1>Tracks</h1>
    {% for track in tracks %}
    <div><a href="{% url 'track_details' track.id %}">{{track.name}}</a>
    <p>lorem lorem llorem lorem </p>
    </div>
    {% endfor %}

{% endblock %}
