{% extends "home/base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
{% load static %}

<h2>{{course.course_name}}</h2>

{% for group in course_groups %}

  <p>Instructor : {{ group.class_Instructor }}</p>
  <p>Start Date : {{ group.strat_date }}</p>
  <p>End Date : {{ group.end_date }}</p>
  <p>Session Count : {{group.session_count}}</p>
  <p>Course Days : {% for day in group.days.all %}{{day}}{% endfor %}</p>
 <button><a href="{% url 'enroll' group.id %}">Eenroll</a></button>


{% endfor %}
    <!-- <img src="{% static photo %}" alt="My image"><br> -->

  {% endblock%}
