  {% extends "home/base.html" %}
{% block title %} Instructor {% endblock %}
{% load static %}

{% block head %}

{% endblock %}
{% block content %}
<!--First Card-->

<div class="container">
  <h1>Our Instructors</h1>
  <div class="row">
    {% for inst in instructors %}
    <div class="col-lg-4 mb-4">
      <div class="card " style="width: 18rem;">
        {% if inst.photo %}
        <img src="{{ inst.photo.url }}" class="card-img-top" alt="" height="150px" width="150px">
        {% else %}
        <div style="width: 150px; height: 150px;"></div>
        {% endif %}

        <div class=" card-body">
          <h5 class="card-title">{{ inst.first_name }} {{ inst.last_name }}</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="{% url 'inst-details' inst.id %}" class="btn btn-primary">details</a>
        </div>
       </div>
      </div>
    {% endfor %}
  </div>

</div>

{% endblock %}